@charset "UTF-8";

body,html{
    background-color: black;
    height: 100%;
    min-width: 250px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button{
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    margin: auto;
    cursor: pointer;
}

main div#fade{ /* fica na frente de tudo, menos do #modal */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

main h1{
    text-align: center;
    color: aliceblue;
    padding: 20px 0px;

}

main > section.display{
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid rgb(133, 100, 17);
    border-radius: 10px;
    width: 90%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main > section.display img {
    position: relative;
    width: 50px;
    height: 50px;
    transition: width .4s, height .4s;
}

main button#open-modal{   
    background-color: rgb(237, 185, 54);
    color: black;
    width: 200px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

main button#open-modal:hover{
    background-color: rgb(255, 214, 111);
}

main section#modal{ /* fica na frente do fade */
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgb(133, 100, 17);
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -10%);
    z-index: 10;

}

#fade, #modal{ /* os eventos funcionam quando a opacidade for 1 */
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#modal.hide, #fade.hide{
    opacity: 0; /* com a opacidade é possível controlar a transição do elemento, com display:none não */
    pointer-events: none;
}

main section#modal div.modal-header{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
}

main section#modal h2{
    text-align: center;
    color: aliceblue;
}

main section#modal button#close-modal{
    width: fit-content;
    background-color: dimgray;
    color: aliceblue;
}

main section#modal button#close-modal:hover{
    background-color: grey;
}

main section#modal div.modal-header{
    border-bottom: 1px solid rgb(63, 63, 63);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

main section#modal div.modal-body{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

main section#modal div.modal-body .bodies-and-label{
    padding: 3px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

main section#modal div.modal-body .bodies-and-label:hover{
    
    border: 1px solid rgb(133, 100, 17);
    border-radius: 10px;
}

main section#modal div.modal-body label{
    color: aliceblue;
    padding-bottom: 5px;
}

main section#modal div.modal-body img.bodies{
    /*background-position: center;
    background-size: contain;
    background-repeat: no-repeat;*/
    cursor: pointer;
}

#sun{
    /*background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../imagens/Harwen-Weather-Sun.128.png);*/
    height: 100px;
    width: 100px;
}

#moon, #jupiter{
    /*background-image: url(../imagens/Harwen-Weather-Moon.128.png);*/
    width: 50px;
    height: 50px;
}

#saturn {
    width: 60px;
    height: 60px;
}

.hovered{
    box-shadow: inset 0px 0px 50px rgba(255, 255, 255, 0.484);
}

.invisible{
    display: none;
}

p a{
    width: 100px;
    text-align: center;
    background-color: dimgray;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    margin: auto;
}
